#vboxMain{
    -fx-pref-width: 65em;
    -fx-max-width: 65em;
    -fx-pref-height: 65em;
    -fx-max-height: 65em;
    -fx-min-height: 35em;
    -fx-border-radius: 15;
    -fx-border-color: white;
    -fx-border-width: 4;
}
#hbox{
    -fx-pref-width: 65em;
    -fx-max-width: 65em;
    -fx-pref-height: 35em;
    -fx-max-height: 35em;
    -fx-min-height: 25em;
}
#vboxInsider{
    -fx-pref-width: 30em;
    -fx-max-width: 30em;
    -fx-pref-height: 35em;
    -fx-max-height: 35em;
    -fx-min-height: 25em;

}

#text{
    -fx-font-family:"Trebuchet MS";
    -fx-font-size: 5em;
    -fx-font-scale: inherit;
}
#input-field{
    -fx-pref-height: 5em;
    -fx-min-height: 4em;
    -fx-pref-width: 32em;
    -fx-min-width: 10em;
    -fx-background-color: transparent;
    -fx-border-radius: 25px;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: white;
}
#input-field:hover{
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-border-width: 4;

}
#input-field:focused{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-border-radius: 10;
    -fx-border-width: 4;
}

#logBtn{
    -fx-background-radius: 10;
    -fx-font-family: Constantia;
    -fx-font-size:2em;
    -fx-background-color:#C67BE7;
    -fx-pref-width: 9em;
    -fx-max-width: 9em;
    -fx-pref-height: 2.5em;
    -fx-max-height: 2.5em;
    -fx-min-height: 1em;

}
#logBtn:hover{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 25;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
    -fx-text-fill: white;

}
#datepicker{
    -fx-pref-height: 4em;
    -fx-min-height: 4em;
    -fx-pref-width: 30em;
    -fx-min-width: 10em;
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: white;
}
